
<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>


<div id="comments">
	<%=render :partial=> @post.comments.reverse %>
</div>

<%= form_for([@post,Comment.new],remote:true)do|f| %>
<p><%=f.label :body,"New Comment" %><br/>
	<%=f.text_area :body %>
</p>
<p><%=f.submit "Add Comment"%></p>
<%end%>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
