<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Post</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">DAC-RG-10</a>
				<ul class="dropdown">
					<li class="title back js-generated" href="#">
						<h5>
							<a href="javascript:void(0)">Back</a>
						</h5>
					</li>
					<li class="parent-link show-for-small-only">
						<a class="parent-link js-generated" href="#">DAC-RG-10</a>
					</li>
					<li>
						<label>Menu</label>
					</li>
					<%if user_signed_in? %>
					<li><%= link_to'Ver',controller:'/posts',action:'index'%></li>
					<li><%= link_to'Nuevo',controller:'/posts',action:'new'%></li>
					<%end%>
				</ul>

			</li>
			<li class="divider"></li>
		</ul>
		<ul class="right">
			
			
			<p class="navbar-text pull-right">
				<%if !user_signed_in? && !administrador_signed_in? %>
				<%= link_to"Ingresar",new_user_registration_path, :class=>'navbar-link'%>
				<%= link_to"Registrar",new_user_registration_path, :class=>'navbar-link'%>
				<%else%>
				<li><a>logged ini as <strong><%=current_user ? current_user.email : current_administrador.email %></strong>.</a></li>
				<%end%>
				  <%if user_signed_in? %>
					Logged in as <strong><%=current_user.email%></strong>.
					<%=link_to 'Edit profile',edit_user_registration_path, :class=>'nevbar-link'%> |
					<%=link_to "Logout",destroy_user_session_path,method: :delete,:class=>'navbar-link'%>
					<%end%>
				  <%if administrador_signed_in? %>
				  Logged in as <strong><%=current_administrador.email%></strong>.
					<%=link_to 'Edit profile',edit_user_registration_path, :class=>'nevbar-link'%> |
					<%=link_to "Logout",destroy_user_session_path,method: :delete,:class=>'navbar-link'%>
				  <%end%>
            
			

		</ul>
	</section>

</nav>