
<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>email</th>
      <th>Body</th>
      <th>Creado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class = "success">
        <td><%= post.title %></td>
        <td><%= User.find(post.user_id).email%></td>
        <%if post.body %>
        <td>
          <a href="#"data-reveal-id="post-<%=post.id%>">Ver Post</a>
        </td>
          <div id="post-<%=post.id%>" class="reveal-modal" data-reveal>
          <%=post.body %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <%end%>
        </td>
        <td><%= post.created_at %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, :class => 'Disabled button small radius' %>
<% end %>
